.content {
	@media screen and (max-width: 769px) {
		button {
			top: -21vw;
		}
	}
	@media screen and (min-width: 769px) {
		button {
			top: -11vw;
		}
	}
	@media screen and (max-height: 813) {
		ion-slide {
			top: 21px;
		}
	}
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	h3 {
		color: white;
		text-align: center;
		font-size: 3.2rem;
		letter-spacing: -0.1rem;
	}
	#intro-logo img {
		height: auto !important;
		display: block;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	div.buttons {
		text-align: center;
		z-index: 100;
		bottom: 72px;
		button {
			width: 50vw;
			line-height: 42px;
			border-radius: 0 !important;
			background-color: #4267b2;
			border-color: #4267b2;
			color: white;
			margin-bottom: 1vh;
			margin-left: auto;
			margin-right: auto;
			font-size: 14px;
			font-family: system-ui, -apple-system, BlinkMacSystemFont,
				".SFNSText-Regular", sans-serif;
		}
	}
}
